<div class="container">
	<nav>
		<div class="app_title">
			Grand Tichu
		</div>
		<div class="options">
			<button mat-button>
				<span class="material-symbols-outlined"> menu </span>
			</button>
		</div>

	</nav>
	<div class="team_names_and_scores">
		<div class="team_name team1_name">Team 1</div>
		<div class="team_name team2_name">Team 2</div>
		<div class="team_score team1_score">755</div>
		<div class="team_score team2_score">945</div>
	</div>
	<div class="team_members_and_tichu_controls">
		<div class="player">
			<div class="player_top_row">
				<div class="player_name">Rafasda</div>
				<div class="player_shuffles">
					<!--					<button mat-button>-->
					<!--						<span class="material-symbols-outlined"> sports_esports </span>-->
					<!--					</button>-->
				</div>
			</div>

			<div class="player_bottom_row">
				<mat-button-toggle-group
					name="player1_controls_group"
					aria-label="Font Style"
					multiple
					(change)="toggleChange($event)"
				>
					<mat-button-toggle class="player_tichu" value="3"
					>Tichu
					</mat-button-toggle
					>
					<mat-button-toggle class="player_grand_tichu" value="2"
					>Grand
					</mat-button-toggle
					>
				</mat-button-toggle-group>
			</div>
		</div>

		<div class="player">
			<div class="player_top_row">
				<div class="player_name">Raf2</div>

				<div class="player_shuffles">
					<button mat-button>
						<span class="material-symbols-outlined shuffle_icon"> sports_esports </span>
					</button>
				</div>
			</div>
			<div class="player_bottom_row">
				<mat-button-toggle-group
					name="player2_controls_group"
					aria-label="Font Style"
					multiple
					(change)="toggleChange($event)"
				>
					<mat-button-toggle class="player_tichu" value="3"
					>Tichu
					</mat-button-toggle
					>
					<mat-button-toggle class="player_grand_tichu" value="2"
					>Grand
					</mat-button-toggle
					>
				</mat-button-toggle-group>
			</div>

		</div>

		<div class="player">
			<div class="player_top_row">
				<div class="player_name">Eratosthenis</div>
				<div class="player_shuffles"></div>
			</div>

			<div class="player_bottom_row">
				<mat-button-toggle-group
					name="player3_controls_group"
					aria-label="Font Style"
					multiple
					(change)="toggleChange($event)"
				>
					<mat-button-toggle class="player_tichu" value="3"
					>Tichu
					</mat-button-toggle
					>
					<mat-button-toggle class="player_grand_tichu" value="2"
					>Grand
					</mat-button-toggle
					>
				</mat-button-toggle-group>
			</div>
		</div>

		<div class="player">
			<div class="player_top_row">
				<div class="player_name">Raf4</div>
				<div class="player_shuffles">
					<!--					<button mat-button >-->
					<!--						<span class="material-symbols-outlined"> sports_esports </span>-->
					<!--					</button>-->
				</div>
			</div>
			<div class="player_bottom_row">
				<mat-button-toggle-group
					name="player4_controls_group"
					aria-label="Font Style"
					multiple
					(change)="toggleChange($event)"
				>
					<mat-button-toggle class="player_tichu" value="3"
					>Tichu
					</mat-button-toggle
					>
					<mat-button-toggle class="player_grand_tichu" value="2"
					>Grand
					</mat-button-toggle
					>
				</mat-button-toggle-group>
			</div>
		</div>

	</div>
	<div class="set_score_area">
		<button mat-stroked-button color="primary">Set Score</button>
	</div>
</div>
