<div class="container">
  <div class="team-players">
    <div class="team_name team1_name">Team 1 P1</div>
    <div class="team_name team2_name">Team 2 P1</div>
    <div class="team_score team1_score">Team 1 P2</div>
    <div class="team_score team2_score">Team 2 P2</div>
  </div>
  <div class="one-two-controls">
    <mat-button-toggle-group
      name="player1_controls_group"
      aria-label="Font Style"
      multiple
      (change)="toggleChange($event)"
    >
      <mat-button-toggle class="player_tichu" value="3">1-2 </mat-button-toggle>
      <mat-button-toggle class="player_grand_tichu" value="2">
        1-2
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="points"></div>
  <div class="total-score"></div>
  <div class="ok">
    <button mat-stroked-button color="primary" routerLink="/">OK</button>
  </div>
</div>
