@import "./variables";

html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.material-symbols-outlined {
	font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

.mat-button-toggle {
	background-color: white;
	color: black;
	border: 3px solid $beau-blue;
}

.mat-button-toggle-checked {
	background-color: $primary_color;
}
